.skip-play {
  display: "flex";

  justify-content: "center";
  align-items: "center";
  flex-wrap: "nowrap";
  gap: "1px";
  padding: 0;
  margin: 0;
  svg {
  }
}

@media screen and (max-width: 450px) {
  .skip-play {
    svg {
      font-size: 22px;
    }
  }
}
