.volume-control {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  .children > * {
    font-size: 2.1rem;
  }
  .volume-bar {
    width: "90px" !important;
    display: none;
    transition: 0.3s all;
  }
  &:hover {
    .volume-bar {
      display: block;
    }
  }
}

@media screen and (max-width: 450px) {
  .volume-control {
    gap: 0.2rem;
    .children > * {
      font-size: 1.5rem;
    }
    .MuiSlider-root {
      height: 4px !important;
      width: 30px;

      .MuiSlider-thumb {
        width: 10px !important;
        height: 10px !important;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .volume-control {
    .MuiSlider-root {
      height: 3px !important;
      width: 20px;

      .MuiSlider-thumb {
        width: 8px !important;
        height: 8px !important;
      }
    }
  }
}
