.control-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}
#action-btn {
  margin-top: 10px;
  svg {
    font-size: 5rem;
  }
}

@media screen and (max-width: 450px) {
  #action-btn {
    margin-top: 0;
    padding: 0 8px 0 0;
    svg {
      font-size: 3.5rem;
    }
  }
}
