.playback-container {
  .speed {
    // text-align: center;
    // width: 37px;
  }
  p {
    font-size: 1.1rem;
  }
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  button {
    outline: 2px solid white;
    color: white;
    margin: 0;
    padding: 0;
    min-width: 0;
    width: 23px;
    height: 23px;
  }
}
@media screen and (max-width: 450px) {
  .playback-container {
    .speed {
      text-align: center;
      width: 33px;
    }
    p {
      font-size: 0.9rem;
    }
    gap: 0.6rem;
    button {
      width: 15px;
      height: 15px;
      padding: 0;
      margin: 0;
      svg {
        font-size: 0.8rem;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .playback-container {
    .speed {
      text-align: center;
      width: 28px;
    }
    p {
      font-size: 0.85rem;
    }
    gap: 0.6rem;
    button {
      width: 15px;
      height: 15px;
      padding: 0;
      margin: 0;
      svg {
        font-size: 0.8rem;
      }
    }
  }
}
